{block content}
<div n:class="$class ? $class, 'o-ipl'" data-element="ipl">

    <picture data-element="ipl-image">
        <source
                n:foreach="$sources as $source"
                data-srcset="{$source->getSrcset()}"
                {if $source->getType()}type="{$source->getType()}"{/if}
                {if $source->getMedia()}media="{$source->getMedia()}"{/if}
        >

        <img data-src="{$fallbackUrl}" alt="{$alt}" title="{$alt}" class="o-ipl__image">
    </picture>

    <noscript>
        <picture>
            <source
                    n:foreach="$sources as $source"
                    srcset="{$source->getSrcset()}"
                    {if $source->getType()}type="{$source->getType()}"{/if}
                    {if $source->getMedia()}media="{$source->getMedia()}"{/if}
            >

            <img src="{$fallbackUrl}" alt="{$alt}" title="{$alt}" class="o-ipl__image">
        </picture>
    </noscript>

    <picture>
        <source
                n:foreach="$thumbnailSources as $source"
                srcset="{$source->getSrcset()}"
                {if $source->getType()}type="{$source->getType()}"{/if}
                {if $source->getMedia()}media="{$source->getMedia()}"{/if}
        >

        <img src="{$thumbnailFallbackUrl}" alt="{$alt}" title="{$alt}" class="o-ipl__placeholder">
    </picture>

</div>
